@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tech-blue: #168fff;
  --dark-blue: #0354a0;
  --deep-black: #010422;
  --pure-white: #FFFFFF;
  --off-white: #F8FAFC;
}

html {
  scroll-behavior: smooth;
}